doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=Listing
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Ajouter un utilisateur
    form(action="/users", method="POST")
      label Nom
      input(type="text", name="name")
      br
      label Date de naissance
      input(type="date", name="birth")
      br
      button(type="submit") Ajouter
    