doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=Listing
    link(rel="stylesheet", href="/css/style.css")
  body
    header 
      h1 Bonjour 
      nav 
        a(href="/") Home
        a(href="/users") Utilisateurs
    main 
      block content
    footer 
      p by Armance